.main-grid {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
}

.main-grid-item {
    width: 1920px;
    margin: auto;
}

/* remove */
#unfinished {
    background-color: pink;
}

#next {
    background-color: aqua;
}