
.navigation-menu {
    width: 1620px;
    height: 78px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 40px;

    padding: 0px 12px 0px 56px;
    margin: 60px auto 212px;

    background-color: #202020;
}
.navigation-menu p {
    margin: 0;
}

/* left items */
.left-nav-items {
    width: 554px;
    height: 38px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.logo-text {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
}

.logo-image {
    width: 32px;
    height: 26px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.nav-link-text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
}

/* right items */
.right-nav-items {
    width: 163px;
    height: 54px;

    border-radius: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #DCCBFF;
}

.right-nav-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
