.navigation-menu {
    width: 1620px;
    height: 78px;

    display: flex;
    
    justify-content: space-between;
    align-items: center;

    border-radius: 40px;

    background-color: #202020;

    padding: 0 12px 0 56px;
    margin: 60px auto 212px;
}

/* nav left */
.nav-left {
    width: 554px;
    height: 38px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46px;
}

.navigation-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo-text {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    letter-spacing: -3px;

    margin: 0;
}

.nav-logo-icon {
    width: 30px;
    height: 25px;
}

.nav-left-links {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav-left-link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    
    margin: 0;
}

/* nav right */
.nav-right-link {
    padding: 16px 26px;

    border-radius: 28px;

    background-color: #DCCBFF;
}

.nav-right-link-text {
    margin: 0;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;

    color: #202020
}

