.nav-container {
    background-color: #202020;
    border-radius: 40px;
    height: 78px;
    margin: 60px auto 212px;
    padding: 12px 12px 12px 56px;
    width: 1620px;
}

.nav-item {
    color: #FFFFFF;
    display: inline-block;
}

.nav-item p {
    margin: 0;
}

/* logo */
.nav-title-link {
    align-items: center;
    display: flex;
    gap: 6px;
    margin-right: 46px;
}

.nav-title-text {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.nav-title-icon {
    height: 28px;
    margin-top: 5px;
    width: 35px;
}

/* links */
.nav-links {
    display: flex;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 9.5px 16px;
}

/* right link */
.right-nav-item {
    /* margin-left: 880px; */
    float: right;
}

.contact-nav-link {
    background-color: #DCCBFF;
    border-radius: 28px;
    color: #202020;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 26px;

    margin-bottom: 12px;
}